@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-light {
    --background: #f8f8f8;
    --text: black;
    /* #313131 */
  }
  .theme-dark {
    --background: black;
    --text: #f8f8f8;
  }